body {
  background-color: grey;
}

h3 {
  text-align: center;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#userInput {
  border: 2px solid black;
  height: 150px;
  width: 500px;
  resize: none;
}

#translation {
  border: 2px solid black;
  height: 150px;
  width: 500px;
  resize: none;
}

#buttonTranslate {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}

#buttonReset {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}

#buttonTryIt {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.welcome {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
